<%= nested_form_for(@drug) do |f| %>
  <% if @drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
      <% @drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  
      <%= f.fields_for :relationship do |relationship| %>
      <div class="field">
        <%= relationship.hidden_field :drug_id, :value => @drug.id %>
        <%= relationship.label :ingredient_id %>
        <%= relationship.text_field :ingredient_id %>
      </div>
      <% end %>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
