<div id="admin-viewdrugs-wrap">

<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
<th colspan="3"></th>
</tr>
</thead>
<tbody>
<% Drug.all.each do |drug| %>
<tr>
<td><%= drug.name %></td>
<td><%= drug.description %></td>
<td><div class="ingredients-cloud"><span class="active_ingredient code-blue"><%= link_to 'Show', drug %></span></div></td>
<td><div class="ingredients-cloud"><span class="active_ingredient code-blue"><%= link_to 'Edit', edit_drug_path(drug) %></span></div></td>
<td><div class="ingredients-cloud"><span class="active_ingredient code-blue"><%= link_to 'Destroy', drug, method: :delete, data: { confirm: 'Are you sure?' } %></span></div></td>
</tr>
<% end %>
</tbody>
</table>

</div>