<!DOCTYPE html>
<html>
<head>
  <title>Medapp6</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'mobile' if mobile_device? %>
  <%= yield :page_specific_css %>
  <%= javascript_include_tag 'mobile', 'data-turbolinks-track' => true %>
  <%= yield :additional_head %>
  <meta name="viewport" content="width=600">
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
